@import "styles/core";

.input {
  border: 0;
  border-radius: $borderRadius;
  font-size: $mediumFont;
  margin-bottom: $mediumGutter;
  padding: $mediumGutter;
  width: 100%;

  &:focus {
    box-shadow: 0 0 1px 1px $grape;
  }

  &--error {
    box-shadow: $errorShadow;
  }
}
