@import "styles/borders";
@import "styles/colors";
@import "styles/fonts";
@import "styles/spacing";

.button {
  border-radius: $borderRadius;
  color: white;
  cursor: pointer;
  font-size: $mediumFont;
  font-weight: $boldFont;
  padding: $smallGutter $largeGutter;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &::-moz-focus-inner {
    border: 0;
  }

  &--primary {
    background: $jade;
    border: 1px solid $jade;

    &:hover {
      background: $emerald;
    }
  }

  &--secondary {
    background: pale;
    border: 1px solid $army;
    color: $army;
    font-weight: $lightFont;

    &:hover {
      border: 1px solid $jade;
      color: $jade;
    }
  }

  &--link {
    background: transparent;
    border: 0;
    color: $graphite;
    font-size: $smallFont;
    font-weight: $lightFont;
    padding: 0;
  }

  &--delete {
    border: 1px solid $danger;
    background: $danger;
  }

  &--disabled {
    background: $dust;
    border-color: $graphite;

    &:hover {
      background: $dust;
      cursor: default;
    }
  }
}
