@use "sass:map";
@import "styles/core";

$colors: (
  "cobalt": $cobalt,
  "cream": $cream,
  "dust": $dust,
  "emerald": $emerald,
  "graphite": $graphite,
  "pale": $pale,
  "jade": $jade,
  "shadow": $shadow,
  "skyBlue": $skyBlue,
  "grape": $grape,
  "sunshine": $sunshine,
  "army": $army,
  "danger": $danger,
);

.text {
  color: $graphite;

  &--m {
    font-size: $mediumFont;
  }

  &--l {
    font-size: $largeFont;
  }

  &--xl {
    font-size: $xlargeFont;
  }

  @each $color in $colors {
    $name: nth($color, 1);
    $value: map-get($colors, $name);

    &--#{$name} {
      color: $value;
    }
  }
}
