@import "~styles/core.scss";

.tokens {
  &__header {
    font-size: $mediumFont;
    font-weight: $boldFont;
    padding: $mediumGutter;
  }

  &__token {
    background-color: white;
    border-radius: $borderRadius;
    list-style-type: none;
    padding: $mediumGutter;
  }

  &__name {
    margin-left: $mediumGutter;
  }
}