@import "./colors.scss";

$borderRadius: 0.2rem;

$boxShadow: 0 0.2rem 0.2rem 0 $shadow;
$highBoxShadow: 0 0.2rem 0.2rem 0 $graphite;
$focusBoxShadow: 0 0 0.1rem 0 $cobalt;
$grapeBoxShadow: 0 0 0 0.2rem rgba($grape, 0.5);
$errorShadow: 0 0 0 0.1rem $danger;
