$cobalt: #0000f0;
$cream: #ececce;
$dust: #888888;
$emerald: #00a066;
$graphite: #424240;
$pale: #eeeeee;
$jade: #008044;
$shadow: #aaaaaa;
$skyBlue: #99ddff;
$grape: #59427a;
$sunshine: #ffcc00;
$army: #306030;
$danger: #992200;

$primaryColor: $grape;
