$bodyFont: Helvetica, sans-serif;
$inputFont: Helvetica, sans-serif;

$xsmallFont: 0.5rem;
$smallFont: 0.8rem;
$mediumFont: 1rem;
$largeFont: 1.5rem;
$xlargeFont: 2rem;

$boldFont: 700;
$lightFont: 400;
