@import "styles/borders";
@import "styles/colors";
@import "styles/fonts";
@import "styles/spacing";

.home {
  &__header {
    color: $graphite;
    font-size: $largeFont;
    margin: 0 0 $largeGutter;
    padding: 0;
  }

  &__description {
    margin: $largeGutter 0 $xlargeGutter;
    max-width: 50rem;
  }

  &__packages {
    display: flex;
    justify-content: space-around;
  }

  &__package-name {
    font-weight: $boldFont;
    margin-bottom: $smallGutter;
  }

  &__feature-comparison {
    background: white;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    height: 13rem;
    padding: $largeGutter;
    width: 40%;
  }

  &__feature-list {
    color: $dust;
    flex: 1;
    list-style-type: square;
    margin-left: $largeGutter;
  }

  &__feature-item {
    margin-bottom: $smallGutter;
  }

  &__register-button {
    align-self: flex-end;
    background: $jade;
    border: 1px solid $jade;
    border-radius: $borderRadius;
    color: white;
    cursor: pointer;
    font-size: $mediumFont;
    font-weight: $boldFont;
    padding: $smallGutter $largeGutter;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $emerald;
    }

    &--disabled {
      background: $shadow;
      border: 1px solid $shadow;
      color: $pale;
      cursor: default;
      font-weight: $lightFont;

      &:hover {
        background: $shadow;
      }
    }
  }
}
