@import "styles/core";

.boards {
  padding-right: $largeGutter;

  &__list {
    flex-wrap: wrap;
    margin: $largeGutter $smallGutter 0;
  }

  &__link {
    text-decoration: none;
  }

  &__card {
    flex: 1;
    max-width: 25%;
  }
}
