@import "styles/borders";
@import "styles/colors";
@import "styles/fonts";
@import "styles/spacing";

.login {
  &__form {
    display: flex;
    flex-direction: column;
    margin: $largeGutter auto;
    width: 15rem;
  }

  &__legend {
    font-size: $mediumFont;
    font-weight: $boldFont;
    margin: 0 0 $largeGutter;
  }

  &__button {
    align-self: flex-end;
    margin-top: $largeGutter;
  }
}