@import "styles/core";

.card {
  background-color: white;
  border: 0;
  border-radius: $borderRadius;
  cursor: pointer;
  min-height: 4rem;
  min-width: 4rem;
  padding: $mediumGutter;
  transition: 150ms box-shadow;

  &:hover {
    box-shadow: $grapeBoxShadow;
  }
}
