@import "styles/core";

.goal {
  &__link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    color: $graphite;
    margin-bottom: $largeGutter;

    &--completed {
      color: $shadow;
      text-decoration: line-through;
    }
  }

  &__reward {
    color: $dust;
    margin-bottom: $largeGutter;

    &--completed {
      color: $emerald;

      &::after {
        content: "✔️"
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-start;
    margin-top: $largeGutter;
    opacity: 0.3;
    transition: opacity 0.3s;

    :hover > & {
      opacity: 1;
    }

    :hover {
      text-decoration: underline;
    }
  }

  &__edit-button {
    margin-right: $mediumGutter;
  }

  &__hide-button {
    margin-left: auto;
  }

  &__tokens {
    align-content: flex-start;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  &__tokens--completed &__token--awarded {
    background: $emerald;
    cursor: default;
  }

  &__token {
    border: 1px solid $shadow;
    cursor: pointer;
    height: 2rem;
    line-height: 2rem;
    margin: 0 $smallGutter $smallGutter 0;
    text-align: center;
    width: 2rem;

    &--awarded {
      background: $sunshine;
      border: 1px solid $graphite;
    }

    &:hover:after {
      content: '•';
    }
  }

  &__delete-modal {
    display: flex;
    flex-direction: column;
    padding: $largeGutter;
  }

  &__delete-modal-header {
    font-size: $mediumFont;
    font-weight: $boldFont;
    margin-bottom: $smallGutter;
  }

  &__delete-modal-description {
    flex: 1;
  }

  &__delete-modal-footer {
    display: flex;
    justify-content: flex-end;
  }

  &__delete-modal-cancel-button {
    margin-right: $mediumGutter;
  }
}
