.modal-form-dialog {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__footer {
    align-self: flex-end;
  }

  &__footer-button {
    margin-left: 0.5rem;
  }
}