@import "styles/borders";
@import "styles/colors.scss";
@import "styles/fonts.scss";

.overlay {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  font-family: $bodyFont;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  * {
    font-weight: normal;
  }

  &__modal {
    background: $pale;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    color: $graphite;
    margin: auto;
    transition: all .2s ease-in;

    &--small {
      height: 10rem;
      max-width: 50rem;
      width: 40%;
    }

    &--medium {
      height: 50%;
      max-height: 30rem;
      min-height: 20rem;
      min-width: 30rem;
      width: 50%;
    }
  }
}
