@import "styles/borders";
@import "styles/colors";
@import "styles/fonts";
@import "styles/spacing";

.register {
  &__title {
    font-size: $mediumFont;
    font-weight: $boldFont;
    margin: 0 0 $xlargeGutter $largeGutter;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30rem;
  }

  &__fieldset {
    border: 1px solid $shadow;
    border-radius: $borderRadius;
    margin-bottom: $largeGutter;
  }

  &__button {
    align-self: flex-end;
  }
}
