@import "styles/core";

@keyframes bounce {
  0% {
    background: white;
    transform: rotate(0) scale(1, 1);
  }

  50% {
    background: white;
    transform: rotate(-20deg) scale(0.8, 0.8);
  }

  80% {
    background: white;
    transform: rotate(20deg) scale(1.2, 1.2);
  }

  100% {
    background: $sunshine;
    transform: rotate(0) scale(1, 1);
  }
}

@keyframes shake {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  66% {
    transform: scale(0.8);
  }

  84% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.large-goal {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    margin-bottom: $mediumGutter;
  }

  &__body {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-bottom: $mediumGutter;
  }

  &__main {
    background: white;
    border-radius: $borderRadius;
    flex: 1;
    min-width: 10rem;
    padding: $largeGutter;
  }

  &__tokens {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: $mediumGutter;
  }

  &__token {
    border: 1px solid $dust;
    color: $dust;
    cursor: pointer;
    font-size: $largeFont;
    height: 4rem;
    line-height: 4rem;
    margin: 0 $largeGutter $largeGutter 0;
    text-align: center;
    transition: 150ms all;
    vertical-align: middle;
    width: 4rem;

    &:hover {
      border-color: transparent;
      box-shadow: $grapeBoxShadow;
    }

    &--awarded {
      animation: bounce 0.4s;
      background: $sunshine;
      border-color: $graphite;
      color: $graphite;
    }
  }

  &__reward {
    background: white;
    border-radius: $borderRadius;
    font-size: $mediumFont;
    margin-left: $largeGutter;
    max-width: 20rem;
    min-width: 5rem;
    padding: $mediumGutter $mediumGutter 0;
  }

  &__ {
    color: $grape;
    font-weight: $boldFont;

    &--completed {
      animation: shake 1.5s ease-in-out 1s 1;
      color: $jade;
      font-size: $xlargeFont;
      margin: $xlargeGutter auto 0;
      text-align: center;
      transform-origin: top center;
      width: 22rem;

      &::after {
        content: "✔️";
      }
    }
  }
}
