@import "styles/borders";
@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/spacing.scss";

.add-new-goal {
  display: flex;
  flex-direction: column;
  padding: $largeGutter;

  &__header {
    font-size: $mediumFont;
    margin: 0 0 $mediumGutter $mediumGutter;
  }

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__field {
    background: white;
    border: 0;
    border-radius: $borderRadius;
    display: block;
    font-family: $inputFont;
    font-size: 1rem;
    margin-bottom: $mediumGutter;
    padding: $mediumGutter;
    width: 100%;

    &:focus {
      box-shadow: $focusBoxShadow;
    }

    &--multiline {
      flex: 1;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__footer-button {
    border-radius: $borderRadius;
    margin-left: $smallGutter;
    padding: $smallGutter $largeGutter;
  }
}
