@import "styles/core";

.avatar {
  position: relative;

  &__username {
    background-color: $pale;
    border-radius: .75rem;
    cursor: pointer;
    display: block;
    height: 1.5rem;
    padding: $smallGutter;
    text-align: center;
    width: 1.5rem;
  }

  &__dropdown {
    background-color: lighten($grape, 20);
    box-shadow: $boxShadow;
    list-style-type: none;
    margin-top: $mediumGutter;
    min-width: 10rem;
    padding: $smallGutter;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &__link {
    color: $pale;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}