@import "styles/spacing";

.token-board {
  display: flex;

  &__available-tokens {
    margin: $mediumGutter $xlargeGutter 0 $largeGutter;
    max-width: 20rem;
  }

  &__goals {
    flex: 1;
    padding: 0 $xlargeGutter 0 $smallGutter;
    overflow-y: scroll;
  }
}
