@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/spacing.scss";

.app {
  color: $graphite;
  font-family: $bodyFont;
  margin: 0;
  padding: 0;

  &__header {
    background: $primaryColor;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    margin-bottom: $largeGutter;
    padding: 0 $largeGutter;
  }

  &__title {
    align-items: center;
    color: $pale;
    display: inline-flex;
    font-size: $mediumFont;
    font-weight: $boldFont;
    height: 100%;
    outline: none;
    text-decoration: none;
  }

  &__nav-link {
    align-items: center;
    border-bottom: 3px solid transparent;
    color: $pale;
    display: inline-flex;
    height: 100%;
    margin: 0 $mediumGutter;
    outline: none;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &--selected {
      border-bottom: 3px solid $sunshine;
    }
  }

  &__user-links {
    margin-right: -$mediumGutter;
  }

  &__body {
    margin: 0 auto $largeGutter;
    max-width: 100rem;
    padding: 0 $largeGutter;

    &--fixed-height {
      height: calc(100vh - 3rem);
      margin-bottom: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}
