@import "styles/core";

.goals {
  flex-wrap: wrap;

  &__header {
    font-size: $mediumFont;
    font-weight: $boldFont;
    padding: $mediumGutter;
  }

  &__list {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fit, 15rem);
    list-style-type: none;
    margin-bottom: $mediumGutter;
    margin-left: 0.5rem;
  }

  &__goal {
    background: white;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-self: center;
    width: 15rem;

    &:hover {
      &__controls {
        opacity: 1;
      }
    }

    &--empty {
      align-items: center;
      color: $dust;
      display: flex;
      justify-content: center;
      min-height: 5rem;
      text-align: center;
    }

    &--hidden {
      opacity: 0.6;
    }
  }

  &__add-new-goal {
    cursor: pointer;
    font-weight: $boldFont;
  }
}