@import "styles/borders";
@import "styles/colors";
@import "styles/fonts";
@import "styles/spacing";

.sidebar {
  border-radius: $borderRadius;

  &__header {
    color: $graphite;
    font-size: $smallFont;
    font-weight: $lightFont;
    margin-bottom: $mediumGutter;
    text-transform: uppercase;
  }

  &__link {
    color: $dust;
    font-size: $smallFont;
    list-style-type: none;
    margin: 0 0 0.5rem;
  }

  &__divider {
    border: 0;
    border-top: 1px solid $shadow;
    margin: $largeGutter 0 $mediumGutter;
  }
}
