@import "~styles/core.scss";

.token {
  display: inline-block;

  // Colors
  &__shape {
    &--sunshine {
      color: $sunshine;
    }
  }

  // Sizes
  &--small {
    height: 1rem;
    width: 1rem;
  }

  &--medium {
    height: 1.5rem;
    width: 1.5rem;
  }

  &--large {
    height: 2rem;
    width: 2rem;
  }
}
