@import "styles/core.scss";

.account {
  margin-left: 0;
  max-width: 50%;

  &__header {
    margin-bottom: $mediumGutter;
  }

  &__password-toggle {
    margin-bottom: $mediumGutter;
  }

  &__password-container {
    display: none;

    &--visible {
      display: block;
    }
  }

  &__password-field {
    margin-right: $mediumGutter;
    width: 80%;
  }

  &__password-match-icon {
    color: green;
  }

  &__error {
    color: $danger;
    margin-top: $mediumGutter;
  }
}